  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

 main {
  background-image: url(../assets/main-bg.jpg);  
  background-size: cover;
  background-repeat: no-repeat;

}

.text-footer {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important
}

.dua {
  background-image: url(../assets/the-games-bg.jpg);  
  background-size: cover;
  background-repeat: no-repeat;

}

.tiga {
  height: 50px;
}

.empat {
  background-image: url(../assets/features.jpg);  
  background-size: cover;
  background-repeat: no-repeat;
}

.lima {
  background-image: url(../assets/requirements.png);  
  background-size: cover;
  background-repeat: no-repeat;
}

.enam {
  background-color: rgb(0, 0, 0); 
  object-fit: 50%;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: 0.2rem;
  color:gold;
  font-size:20px;
}


.halotext {
  letter-spacing: 0.1rem;
  color:honeydew;
  font-size:9px;
}

.textkecil {
  letter-spacing: 0.2rem;
  color:honeydew;
  font-size:8px;
}

.textkeciltengah {
  letter-spacing: 0.2rem;
  color:honeydew;
  font-size:8px;
  text-align:right;
}

.tab1 {
  border-style:solid;
  border-color:honeydew;
  border-width: thin;
}

body {
  background-color: #eee
}

.card4 {
  border: none;
  border-radius: 10px;
  background-color: rgba(43, 40, 40, 0.644);
  float: right;
  position:relative;
  height:150px;
  width:300px;
}

.c-details span {
  font-weight: 300;
  font-size: 13px
}

.icon {
  width: 50px;
  height: 50px;
  background-color: rgb(224, 217, 217);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px
}



.badge span {
  background-color: #fffbec;
  width: 60px;
  height: 25px;
  padding-bottom: 3px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/twitter.svg);
  
}

.progress {
  height: 10px;
  border-radius: 10px
}

.progress div {
  background-color: red
}

.text1 {
  font-size: 12px;
  font-weight: 600
}

.text2 {
  color: #898a8d;
  font-size: 10px;
}

.caret.down{
  border-top-color: rgb(247, 240, 240);
}



